<% provide(:title, '| About us') %>
<p class="page-description">
  GeekHub - це проект, що надає можливість талановитій молоді отримати практичні знання та навички в сфері
  розробки програмного забезпечення та IT вцілому. Команда Geekhub — це группа професіоналів в інформаційних
  технологіях, які працюють у провідних софтверних компаніях. Ми шукаємо мотивованих учнів та студентів, які
  мріють отримати професію в інформаційних технологіях, для інтенсивного практичного навчання з розробки веб
  та мобільних додатків, приєднатись до спільноти професіоналів інформаційних технологій для поліпшення життя
  людей навколо нас.
</p>
