/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 body{
  min-width: 960px;
 }

.container{
  width: 960px;
  margin: 0 auto;
}

.clear{
  float: none;
  clear: both;
}

#notice{
  text-align: center;
  color: rgb(113, 113, 113);
  border-bottom: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  padding: 10px 0px;
  margin-top: 10px;
  font-style: italic;
}

.nav{
  a{
    text-decoration: none;
    margin-top: 10px;
    &.active{
      background-color: #EEE;
      border-bottom: 2px solid #575757;
    }
  }
}

h1{
  text-align: center;
}

.product, .category{
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  text-align: center;
  background-color: #FFF;
  display: inline-block;
  a{
    font-size: 130%;
    text-decoration: none;
  }

  img{
    margin-bottom: 15px;
  }
}

.product{
  width: 230px;
  margin: 10px 0px;
  padding: 20px 0px;
  .category-product-title{
    color: #999;
    font-size: 90%;
  }
}

.category{
  width: 350px;
  margin: 20px 55px;
  padding: 25px;
}

ul#results{
  position: absolute;
  background-color: #FFF;
  z-index: 6666;
  list-style: outside none none;
  padding: 10px 12px;
  border: 1px solid #DADADA;
  margin-top: 4px;
  width: 247px;
  display: none;
  li{
    line-height: 1.5;
    font-size: 95%;
    padding: 8px 0;
    border-bottom: 1px solid #F6F6F6;
    &:last-child{
      border-bottom: none;
    }
    a{
      color: #000;
      &:hover{
        color: #337ab7;
      }
    }
  }
}

.paginate{
  text-align: center;
  .pagination{
    float: none;
  }
}

.page-description{
  margin-top: 10px;
  line-height: 2;
}

.product-img-show{
  float: left;
  margin-right: 10px;
}

.product-price-show{
  font-size: 130%;
  color: #199512;
}

.product-show-left{
  float: left;
}

.product-show-right{
  float: right;
  width: 500px;
}

.sidebar-categories{
  float: left;
  width: 200px;
  padding: 20px;
}

.products{
  float: right;
  width: 700px;
}