<% @categories.each do |category| %>
  <div class="category">
    <%= link_to (image_tag category.image_url(:big)), category if category.image? %>
    <p><%= link_to category.title, category_path(category) %></p>
    <p><%= category.short_description %></p>
  </div>
<% end %>
