<ul class="menu">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'About us', about_path %></li>
</ul>
<div class="clear"></div>
